<div class="questions">
  <div class="ui raised very padded text container segment">
    <h2 class="ui header">Knowledge and experience in investing</h2>
    <p>Note: Unlike checking and savings accounts with banks, crowdfunding is not covered by a deposit guarantee scheme, or any other guarantee scheme.</p>

    <br>
    <strong>Questions:</strong>
    <br>

    <%= form_for :result do |f| %>
      <div class="ui form">
        <div class="grouped fields">
          <label><%= @question.question %></label>

          <% @question.answers.each do |ans| %>
            <div class="field">
              <div class="ui radio checkbox">
                <%= f.radio_button :answer_id, ans.id %>
                <%= f.label :answer, ans.answer %>
              </div>
            </div>
          <% end %>

          <%= f.submit :Submit, class: 'ui primary button' if !@next %>
        </div>
      </div>
    <% end %>

    <% if @previous %>
      <%= button_to @previous, method: :get, class: 'ui left labeled icon button' do %>
        <i class="left chevron icon"></i> Back
      <% end %>
    <% end %>

    <% if @next %>
      <%= button_to @next, method: :get, class: 'ui right labeled icon button' do %>
        <i class="right chevron icon"></i> Next
      <% end %>
    <% end %>
  </div>
</div>
