    <%= form_for Result.new do |f| %>
      <div class="ui form">
        <div class="grouped fields">
          <label><%= @question.body %></label>

          <% @question.answers.each do |answer| %>
            <div class="field">
              <div class="ui radio checkbox">
                <%= f.radio_button :answer_id, answer.id %>
                <%= f.label :answer, answer.body %>
              </div>
            </div>
          <% end %>

          <%= f.hidden_field :user_id, value: current_user.id  %>
          <%= f.hidden_field :next_question_id, value: @next.id if @next %>

          <%= f.submit :Submit, class: 'ui primary button' %>
        </div>
      </div>
    <% end %>
