    <%= form_for Result.new do |f| %>
      <div class="ui form">
        <div class="grouped fields">
          <label><%= @question.question %></label>

          <% @question.answers.each do |ans| %>
            <div class="field">
              <div class="ui radio checkbox">
                <%= f.radio_button :answer_id, ans.id %>
                <%= f.label :answer, ans.answer %>
              </div>
            </div>
          <% end %>

          <%= f.hidden_field :next_question_id, value:  @next.id if @next %>

          <%= f.submit :Submit, class: 'mini ui primary button' %>
        </div>
      </div>
    <% end %>
