<table class="ui celled table">
  <thead>
    <tr>
      <th colspan='3'>Results for <%= current_user.email %></th>
    </tr>
    <tr>
      <th>Question</th>
      <th>Answer</th>
      <th>Score</th>
      <th>Correct?</th>
    </tr>
    <tbody>
      <% @results.each do |result| %>
        <% if result.answer_correct? %>
          <tr class='positive'>
            <td><%= result.question_text %></td>
            <td><%= result.answer_text %></td>
            <td><%= result.answer_score %></td>
            <td><i class="icon checkmark"></td>
          </tr>
        <% else %>
          <tr class='negative'>
            <td><%= result.question_text %></td>
            <td><%= result.answer_text %> (Correct answer = "<%= result.question_correct_answer.answer %>")</td>
            <td><%= result.answer_score %></td>
            <td><i class="icon close"></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </thead>
</table>
